body{

background-image: url(images/Test.jpg);
}
h1{
font-size: 42px;
    color: yellow;
    text-align: left;
}
.question {
font-size: 28px;
color: yellow;
}
.answer {
   font-size: 21px;
color: yellow; 
}
.contact-right img {
    width: 500px;
}
